{% extends "base.html" %}
{%block breadcrumb %} Home > Discussions {% endblock %}
{%block content %}
<div class="breadcrumbs"></div>
 	<div class="columnaIzquierda">
 		<h1>Exchange modisms</h1>
 		<div class="containerPost">
 			<div class="fotoPost"></div>
 			<div class="puntajeContainer"> 
 				<div class="arrowUp"></div>
 				<div class="sumVotes">6</div>
 				<div class="arrowDown"></div>
 				<div class="favorite"></div>
 			</div>
 			<div class="detallePost detalleFull clearfix">
	 			<div class="textoPost">
 					<p class="resumenPost">Creative Dreams</p>
 					<p class="infoPost">Most recent by <b>John Donald</b></p>
 					<p class="fechaPost">Agosto 23</p>
 					<p class="tituloPost">General</p>
 				</div>
 				<div class="tagPost clearfix"><span>Technology</span><span>Documents</span><span>Ideas</span></div>	
 				<div class="questionContainer">
 					<p>Hi there!</p>
					<p>I just want to welcome you to the new One Click - Premium Vanilla Forum.</p>
					<p>This was made to be very fast and easy for you to start giving support.</p>
					<p>With just one click you get all the installation complete after 2 minutes.</p>
					<p>You got a built in Style Editor that you can use to easily customize your forum.</p>
					<p>So, I really hope you like this.</p>
					<p>Cheers</p>
					<div class="addedCommentsContainer">	 	
						Thanks for the response, that makes some sense approaching it on that level - at least in situations like this where the data sets you work on can grow beyond control. Any sample code you have ready in the pipeline would be greatly appreciated, we're investigating the Service Fabric thoroughly against our current use case here to figure out how and if we should use it - so it would be interesting to see some more examples out there. –  Trond Nordheim May 7 at 11:51 
					</div>
					<a href="#" class="addComment">Add a comment</a>
 				</div>
 			</div>	
 		</div>
 		<h2 class="comments">Answers</h2>
 		<div class="containerPost">
 			<div class="fotoPost"></div>
			<div class="detallePost clearfix">
	 			<div class="textoPost">
 					<p class="resumenPost">Scott</p>
 					<p class="fechaPostA">Agosto 24</p>
 				</div>
 				<div class="questionContainer detalleFull">
 					<p>Wow, this forum is AMAZING!!!</p>
					<p>Congrats!!!</p>
 				</div>
 			</div>
 		</div>
		<div class="containerPost">
 			<div class="fotoPost"></div>
			<div class="detallePost clearfix">
	 			<div class="textoPost">
 					<p class="resumenPost">Scott</p>
 					<p class="fechaPostA">Agosto 24</p>
 				</div>
 				<div class="questionContainer detalleFull">
 					<p>Wow, this forum is AMAZING!!!</p>
					<p>Congrats!!!</p>
 				</div>
 			</div>
 		</div>
 		<h2 class="comments">Your answer</h2>
 		<div class="answerContainer"></div>
 	</div> 				 	
 {% endblock %}